
  <div class="sidebar-header">
    <button id="closeSidebar" class="close-btn">✕</button>
  </div>
  <div style="margin:15px;">
    <a href="/main"><img src="/static/images/boosilping2.png" alt="캐치부실핑!" width="100%"></a>
  </div>
  <div class="logo">
    <div class="badge">CBP</div>
    <h1>캐치 부실핑!</h1>
  </div>

  <nav class="nav">
    <a href="/main">홈</a>
    <a href="/firm">대시보드</a>
    <!-- <a href="firm_filter">기업필터</a> -->
    <!-- <a href="industry">산업분석</a> -->
    <a href="/report"
      id="menuReport"
      onclick="window.open('/report','reportWindow','width=800,height=600,scrollbars=yes,resizable=yes'); return false;">
      리포트
    </a>
    <!-- <a href="/report">리포트 <span class="pill">24</span></a> -->
    <a href="#">대출신청</a>
    <a href="#">문의하기</a>
    <a href="#">설정</a>
  </nav>
  <div style="margin:20px; padding:10px; border:solid 1px; border-color: lightgrey;">
    <a href="#"><img src="/static/images/boosilping4.png" alt="캐치부실핑!" width="100%"></a>
  </div>